@{
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        @{
            @Request["name"]
            <br />
            @Request.Form["name"]
            <br />
            @Request.HttpMethod
            for (int i = 0; i < 10; i++) {
                <li>
                    @name
                </li>
            }
        }
    </ul>
</body>
</html>
